.root {
  width: 100%;
  padding: 20px;
  display: grid;
  text-align: center;
  margin: 0 auto;
  grid-template-areas:
    'a a a a'
    'b b c c'
    'd d c c';

  .title {
    text-align: center;
    grid-area: a;
    h1 {
      color: rgb(188, 8, 8);
      margin-bottom: 50px;
    }
  }

  .image {
    text-align: center;
    grid-area: b;
  }
  .back {
    grid-area: d;
    button {
      font-size: 16px;
    }
  }
  .description {
    grid-area: c;
    h2 {
      text-align: justify;
    }
    p {
      text-align: justify;
      max-width: 600px;
      font-size: 20px;
      margin-top: 24px;
      padding-right: 20px;
      margin-left: 20px;
    }
  }
}

@media (max-width: 768px) {
  .root {
    grid-template-areas:
      'a a a a'
      'b b b b'
      'c c c c'
      'd d d d';
  }
  h2 {
    margin-left: 20px;
  }
  p {
    margin: 0 auto;
  }
  .back {
    margin-top: 20px;
  }
}
