.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 40px;
  margin: 10px 20px 10px 20px;
  width: 300px;
  font-size: 18px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.clear {
  position: absolute;
  width: 38px;
  height: 38px;
  right: 17px;
  top: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  &:hover {
    background-color: #f20101;
    color: #f4f4f4;
  }
}

@media (max-width: 480px) {
  .input {
    width: 210px;
  }
}
